*.pdf

paper/sections/\.DS_Store

*.log

paper/der-monad\.tex

*.ptb

paper/der-monad\.out

paper/der-monad\.pdf

paper/der-monad\.dvi

*.blg

*.aux

*.bbl

paper/\.DS_Store

\.DS_Store

*.hi

notes/Nondet\.pdf

notes/BacktrackLocal\.pdf

notes/BacktrackGlobal\.pdf

*.el

paper/response/Corrected\.pdf

paper/response/Corrected\.tex

*.out

mpc2019/paper/der-monad\.pdf

# --------------------------------
.stack-work
.vscode
*.gz